/* 공통 */
*{margin: 0; padding: 0;}
ul{list-style: none;}
.space{clear: both;}
.wrap{width: 1920px; margin: 0 auto;}
/* 헤더부분 */
.header{width: 100%; padding: 20px;}
.logo{width: 100px; height: 50px; margin: 0 auto; float: left;}
.menu{width: 500px; height: 50px; margin: 0 auto; float: right;}
.menu>li{width: 100px; float: left; text-align: center; }
/* 메인이미지 시작 */
.mainimg{width: 1920px; height: 450px;}
/* 메인이미지 끝 */

/* 컨텐츠부분 */
.box1{width: 1920px; height: 712px;}
.box2{width: 1920px; height: 523px; background-color: black;}
.box2>div{width: 50%; margin: 0 auto; color: #ffffff; text-align: center; padding-top: 150px; }
.box2>div>h3{font-size: 35px;}
.box3_left{width: 50%; height: 639px; background-color: #8f1daa;float: left; }
.box3_left>div{width: 50%; margin: 0 auto; color: black; text-align: center; padding-top: 100px;}
.box3_left>div>h3{font-size: 45px; color: #ffffff; }
.box3_left>div>img{padding-top: 100px;}
.box3_left>div>p{padding-top: 50px;color: #ffffff; font-size: 12;}
.box3_right{width: 50%; height: 639px; background-color: #d32bfa; float: right;}
.box3_right>div{width: 50%; margin: 0 auto; color: black; text-align: center; padding-top: 100px;}
.box3_right>div>h3{font-size: 45px; color: #ffffff; }
.box3_right>div>img{padding-top: 100px;}
.box3_right>div>p{padding-top: 50px;color: #ffffff; font-size: 12;}
.box4_left{width: 50%; height: 639px; background-color: #d32bfa;float: left;}
.box4_left>div{width: 50%; margin: 0 auto; color: black; text-align: center; padding-top: 100px;}
.box4_left>div>h3{font-size: 45px; color: #ffffff; }
.box4_left>div>img{padding-top: 100px;}
.box4_left>div>p{padding-top: 50px;color: #ffffff; font-size: 12;}
.box4_right{width: 50%; height: 639px; background-color:#8f1daa; float: right;}
.box4_right>div{width: 50%; margin: 0 auto; color: black; text-align: center; padding-top: 100px;}
.box4_right>div>h3{font-size: 45px; color: #ffffff; }
.box4_right>div>img{padding-top: 100px;}
.box4_right>div>p{padding-top: 50px;color: #ffffff; font-size: 12;}


/* 컨텐츠 끝 */
/* 푸터 시작 */
.footer{width: 100%; height: 171px; background-color: rgb(250, 249, 249);}
.contact{text-align: center; padding: 30px 0;}
.sns{width: 160px; margin: 0 auto; padding-top: 5px;}
.sns>li{width: 40px; height: 40px; float: left; margin: 0 5px; }
.sns>li>img{vertical-align: middle;}
